@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --white: white;
    --blue : #7a67ed;
    --dark-blue: #4229db;
    --light-blue: #9587fa;
    --grey: grey;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    /* background-color:#fefefe; */
    background-image: linear-gradient(to bottom, #fefefe, #e8e6f7);
}

.main-container {
    height: 100vh;
}

.flex {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.column-dir {
    flex-direction: column;
}

.vert-align {
    align-items: center;
}

.hor-align {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.icon

.gap-2 {
    gap: 2rem;
}

.gap-15 {
    gap: 19rem;
}

.gap-12 {
    gap: 8rem;
}

.flex-wrap {
    flex-wrap: wrap;
}

.width-50 {
    height: 100%;
    width: 50%;
    /* min-width: 600px; */
}

.left-part {
    height: 90%;
    width: 80%;
    background-image: radial-gradient( var(--light-blue) , var(--blue), var(--dark-blue) );
    border-radius: 10px;
    /* min-width: 220px; */
}

.right-part {
    height: 90%;
    width: 80%;

}

h2 {
    display: inline-block;
    color: var(--white);
    text-overflow: ellipsis
}

.center-text {
    text-align: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    align-items: flex-start;
}

.align-item-to-end {
    align-self: flex-end;
}

.space-around {
    justify-content: space-around;
}

.quotes {
    color: var(--white)
}

.top-part {
    height: 30px
}

.top-left h3, .top-left p {
    margin: 0;
}

.search-input {
    height: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border: 2px solid var(--blue);
    outline: none;
    background-color: var(--light-blue);
    color: var(--white);
    font-size: medium;
    border-radius: 10px;
    display: none;
}

.search-icon:hover {
    cursor: pointer;
}

.days-nav{
    border-bottom: 1px solid grey;
    margin-top: 10px;
}

.top-left p {
    color: grey;
}

.width-80 {
    width: 80;
}

.days-nav p {
    width: 70px;
    margin-bottom: 0;
    color: var(--grey);
    font-size: larger;

}

.tmr {
    width: 100px !important;
}

.days-nav p:hover {
    border-bottom: 2px solid var(--dark-blue);
    color: var(--dark-blue);
    cursor: pointer;
}

.middle-part {
    margin-bottom: 30px;
}

.middle {
    margin: 20px 0 30px 0;
    padding-bottom: 30px;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, var(--dark-blue), var(--light-blue));
    border-radius: 50px;
    color: var(--white);
    box-shadow: var(--light-blue) 0px 20px 20px;
}

.icon {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
}

.middle-top {
    margin: 0 30px;
}

.margin-top-10 {
    margin-top: 10px;
} 

.margin-0 {
    margin: 0;
}

.temp{
    font-size: 70px;
}

.temp-container p{
    align-self: flex-end;
}

.temps-container {
    margin: 20px 30px 0 30px;
}

.extra-temp {
    width: 25%;
    height: 100px;
    background-color: var(--light-blue);
    border-radius: 20px;
    padding-bottom: 10px;

}

.time-forecast p {
    margin: 5px;
}

.time-forecast {
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    height: 80px;
    margin-top: 10px;

    /* width: 700px; */
    /* background-color: #e8e6f7; */
    border: none;

}

.time {
    width: 55px;
    background-color: var(--white);
    border-radius: 30px;
    /* border: 1px solid var(--light-blue); */
    color: var(--grey);
    font-weight: 600;
}

.time:hover {
    background-color: var(--blue);
    cursor: pointer;
    color: var(--white);
}

.gap-4 {
    gap: 2rem;
}

.arrow span:hover {
    cursor: pointer;
}

.weather p {
    font-weight: 700;
    font-size: larger;
    color: #272727;
}

#saved-city, #popular-city {
    width: 50%;
    font-size: larger;
}

#saved-city:hover, #popular-city:hover {
    color: var(--dark-blue);
    border-bottom: 2px solid var(--dark-blue);
}

.weather p {
    margin: 0;
}

.margin-top-0 {
    margin: 0 !important;
}

.days-middle {
    padding: 0px !important;
    height: 100% !important;
}

.next-days p, .arrow p {
    font-size: larger;
    color: var(--white)
}

.city-card {
    width:47%;
    height: 45%;
    background-color: #e5e3ef;
    border-radius: 10px;
}

.city-section {
    /* padding-bottom: 30px; */
    width: 100%;
    height: 70%;
    /* background-color: var(--white); */
    /* border-radius: 50px; */
    color: var(--white);
}

.margin-top-10 {
    margin: 0 0 10px 0
}


.cards {
    width: 86%;
    height: 75%;
    margin: 10px 0 10px 0;
}

.next-days {
    background-image: linear-gradient(to bottom, var(--blue), var(--light-blue));
    border-radius: 20px;
    height: 90%;
} 

.days-top {
    /* border-bottom-style:groove; */
    margin: 0px 0px 30px 20px;
}

.day {
    width: 60px;
    background-image: linear-gradient(to bottom, var(--light-blue), var(--dark-blue));
    border-radius: 30px;
    color: var(--white);
    /* font-weight: 600; */
}

.day-weather {
    background-image: linear-gradient(to bottom, #fefefe, #e8e6f7);
    width: 100%;
    height: 54%;
    margin-top: 21px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.days-temp p {
    color: black;

}

.days-temp {
    margin: 30px 0 30px 0;
}

.days-temp .temp {
    font-size: 60px;
}

.temps-container img {
    width: 30px;
    height: 30px;
    color: var(--white);
}

.temps-container p {
    margin: 5px;
}

.time-icon {
    width: 30px;
    height: 30px;
}

.time-container {
    height:130px;
    overflow-y: auto;
}

/* customize a scroll bar */
/* ::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  } */




/* Media queris */
 @media screen and (max-width: 1000px) {
    .left-part, .right-part {
        width: 95%;
    }
    .gap-4 {
        gap: 2rem;
    }
 }

 @media screen and (max-width: 800px) {
    .main-container {
        flex-direction: column;
    }

    .displayNone {
        display: none;
    }

    .right-part {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .width-50 {
        width: 90%;
        margin-top:30px;
    }
 }